<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{app.name}"></title>

</head>

<body>

<!--Main layout-->
<div layout:fragment="content">
    <div class="container text-center mt-5">

        <!--Top Table UI-->
        <div class="card card-cascade narrower mt-5">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header peach-gradient narrower py-4 mx-4 mb-5 d-flex justify-content-center align-items-center">

                <h4 class="white-text font-weight-bold text-uppercase mb-0" th:text="#{book.list}">Book list</h4>
                <a type="button" href="/create" class="btn-floating peach-gradient "
                   style="position: absolute;right: 10px; margin-top: -5px"><i class="fa fa-plus"ria-hidden="true"></i></a>
            </div>
            <!--/Card image-->

            <div class="px-4 white-skin">

                    <main>
                        <div class=" mb-5">
                            <section>
                                <!--<div class="card">-->
                                    <!--<div class="card-body">-->
                                        <table id="datatables"
                                               class="table table-hover table-responsive-md table-fixed"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th class="th-sm" th:text="#{table.id}">#ID</th>
                                                <th class="th-sm" th:text="#{table.title}">Title</th>
                                                <th class="th-sm" th:text="#{table.author}">Author</th>
                                                <th class="th-sm" th:text="#{table.publisher}">Publisher</th>
                                                <th class="th-sm" th:text="#{category}">Category</th>
                                                <th class="th-sm" th:text="#{table.thumbnail}">Thumbnail</th>
                                                <th class="th-sm" th:text="#{table.action}">Action</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th class="th-sm" th:text="#{table.id}">#ID</th>
                                                <th class="th-sm" th:text="#{table.title}">Title</th>
                                                <th class="th-sm" th:text="#{table.author}">Author</th>
                                                <th class="th-sm" th:text="#{table.publisher}">Publisher</th>
                                                <th class="th-sm" th:text="#{category}">Category</th>
                                                <th class="th-sm" th:text="#{table.thumbnail}">Thumbnail</th>
                                                <th class="th-sm" th:text="#{table.action}">Action</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr th:each="book: ${books}" th:object="${book}">
                                                <td th:text="*{id}">Id</td>
                                                <td th:text="*{title}">Title</td>
                                                <td th:text="*{author}">Author</td>
                                                <td th:text="*{publisher}">Publisher</td>
                                                <td th:text="*{category.name}">Category Name</td>
                                                <td><img th:src="*{thumbnail}" class=" z-depth-1-half"
                                                         alt="image" style="height: 50px">

                                                </td>
                                                <td>
                                                    <a class="icons-sm so-ic text-success"
                                                       th:href="@{/view/{id}(id=${book.getId()})}"><i
                                                            class="fa fa-eye fa-2x  waves-effect"> </i></a>

                                                    <a class="icons-sm so-ic text-primary"
                                                       th:href="@{/update/{book_id}(book_id=${book.getId()})}"><i
                                                            class="fa fa-pencil fa-2x  waves-effect"> </i></a>

                                                    <a class="icons-sm so-ic text-danger delete-btn"
                                                       th:attr="data-id=${book.getId()}" data-toggle="modal"
                                                       data-target="#modalConfirmDelete"><i
                                                            class="fa fa-close fa-2x  waves-effect"> </i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    <!--</div>-->
                                <!--</div>-->
                            </section>
                        </div>
                    </main>
                    <!--Main layout-->
            </div>
        </div>
    </div>


<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a class="btn  btn-outline-danger delete">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

</div>
<!--/Main layout-->


<script layout:fragment="script">
    $(document).ready(function () {
        var data_id;
        $('body').on('click', '.delete-btn', function () {
            data_id = $(this).attr("data-id");
        });
        $('body').on('click', '.delete', function () {
            $('.modal').modal('hide');
            $.ajax({
                url: "/remove/" + data_id,
                method: 'GET',
                success: function (data) {
                    $('.delete-btn[data-id=' + data_id + ']').parentsUntil('tbody').remove();
                    toastr["success"]("Successfully Deleted!");
                }
            });

        });
        $('select[name="datatables_length"]').material_select();
    });

    $('#datatables').DataTable();

</script>

</body>

</html>
