<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{app.name}"></title>


</head>
<style layout:fragment="style">
    .ml-40px {
        margin-left: 40px;
    }

</style>
<body>
<main layout:fragment="content">

    <div class="container mt-2">

        <div class="card">
            <div class="card-body">
        <!-- Material form contact -->
        <form th:action="${isNew ? '/create/submit' : '/update/submit'}" method="post" th:object="${book}"
              enctype="multipart/form-data">


            <div class="row justify-content-md-center">
                <div class="col-md-12   ">
                <hr>
                <h2 class="font-weight-bold mt-3 mb-3  text-center" th:if="${isNew == true}" th:text="#{create.book}"></h2>
                <h2 class="font-weight-bold mt-3 mb-3  text-center" th:unless="${isNew == true}" th:text="#{update.book}"></h2>
                <hr>
                </div>
                <div class="col-md-3 mb-4">
                    <img class="img-fluid z-depth-2 rounded img-book" th:if="*{thumbnail != '/images-pp/null' && thumbnail != null && thumbnail != ''}"
                         th:src="*{thumbnail}" th:alt="Error"  >
                    <img class="img-fluid z-depth-2 rounded img-book" th:unless="*{thumbnail != '/images-pp/null' && thumbnail != null && thumbnail != ''}"
                         src="/static/img/noimage.png" th:alt="Error" ><br>

                    <label id="img-path" class="text-center w-100"></label><br>
                    <input type="text" th:field="*{thumbnail}" hidden>
                    <div class="d-flex justify-content-center">
                        <div class="file-field">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <span th:text="#{choose.image}">Choose Image</span>
                                <input type="file" name="file"><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" th:field="*{id}" hidden>
                    <!-- Material input text -->
                    <div class="md-form">
                        <i class="fa fa-book prefix grey-text"></i>
                        <input type="text" th:field="*{title}" id="materialFormContactNameEx" class="form-control">
                        <label for="materialFormContactNameEx" th:text="#{table.title}">Title</label>
                        <span style="color: red;" th:if="${#fields.hasErrors('title')}"
                              th:text="#{Positive.book.title}"></span>
                    </div>

                    <!-- Material input email -->
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" th:field="*{author}" id="materialFormContactEmailEx" class="form-control">
                        <label for="materialFormContactEmailEx" th:text="#{table.author}">Author</label>
                    </div>

                    <!-- Material input subject -->
                    <div class="md-form">
                        <i class="fa fa-pencil-square-o prefix grey-text"></i>
                        <input type="text" th:field="*{publisher}" id="materialFormContactSubjectEx"
                               class="form-control">
                        <label for="materialFormContactSubjectEx" th:text="#{table.publisher}">Publisher</label>
                    </div>

                    <!-- Material textarea message -->
                    <div class="md-form">
                        <i class="fa fa-th prefix grey-text  d-inline"></i>

                        <select class="mdb-select colorful-select dropdown-warning ml-40px" th:name="category.id"
                                id="category_id">
                            <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}"
                                    th:text="*{name}"></option>
                        </select>

                    </div>


                    <div class="text-center mt-4">
                        <button type="submit" value="Submit" class="btn btn-so"><i class="fa fa-save pr-1"></i> <span
                                th:text="#{save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Material form contact -->

            </div>
        </div>
    </div>


</main>
</body>

<script layout:fragment="script">
    /*<![CDATA[*/
    var book_cate_id = /*[[${book.category.id}]]*/ null;
    var categories = /*[[${categories}]]*/ null;

    console.log(book_cate_id);
    // console.log(categories);
    /*]]>*/


    $(document).ready(function () {
        $.each(categories, function (index, category) {
            // console.log(category);
            if (book_cate_id == category.id) {
                $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
            }
        })


        $("input[name='file']").change(function () {
            // $("#img-path").text($("input[name='file']").val().split('\\').pop());
            readURL(this)
        })

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.img-book').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    });

</script>

</html>