<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{app.name}"></title>
</head>
<body>
<main layout:fragment="content">
    <div class="container mt-4 mb-5">
        <div class="card">
            <div class="card-body mb-3">
        <hr>
        <h2 class="font-weight-bold  mt-3 mb-3  text-center" th:text="#{book}"></h2>
        <hr>
        <div class="row justify-content-md-center" th:object="${book}">
            <div class="col-md-3">
                <img class="img-fluid z-depth-2 rounded w-100" th:if="*{thumbnail!= '/images-pp/null'}" th:src="*{thumbnail}" th:alt="*{title}">
                <img class="img-fluid z-depth-2 rounded w-100" th:unless="*{thumbnail!= '/images-pp/null'}" src="/static/img/noimage.png" th:alt="Error">
            </div>
            <div class="col-md-4 ">
                <div class="card-body">
                 <h4 class="card-title" th:text="'ID: '+(*{id})"></h4>
                    <p class="card-meta" th:text="'Title: '+*{title}"></p>
                    <hr>
                   <p th:text="'Author: '+*{author}"></p>
                    <p th:text="'Publisher: '+*{publisher}"></p>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>