<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<!-- Navbar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav bg-warning" th:fragment="fr-header">
    <!-- SideNav slide-out button -->
    <div class="float-left">
        <!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>-->
    </div>
    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
        <a href="/index"><i class="fa fa-book mr-2" aria-hidden="true"></i><span th:text="#{application.name}"></span></a>
    </div>
    <div class="nav navbar-nav nav-flex-icons d-flex align-items-center ">
             <label th:text="#{lang}">Languages </label>
            <a  href="?lang=km"><img src="/static/img/flag-cambodia.png" alt="" style="height: 35px" class="mr-2 ml-2"> </a>
            <a  href="?lang=en"><img src="/static/img/flag-english.png" alt="" style="height: 35px" class="mr-2"></a>

    </div>
</nav>
<!-- /.Navbar -->

</body>
</html>